

  //mobil bg
  // .scrollGorizont__image_3_10, .scrollGorizont__image_4_15,
  // .scrollGorizont__image_5_14, .scrollGorizont__image_6_14,
  // .scrollGorizont__image_7_13{
  //   position: absolute;
  //   left: 50%;
  //   top: 50%;
  //   transform: translate(-50%,-50%);
  //   display: none;
  //   z-index: 100;
  // }
   //mobil bg
  //  .scrollGorizont__image_5_14, .scrollGorizont__image_6_14,
  //  .scrollGorizont__image_7_13{
  //    top: 25%;
  //  }

// // класс применяется ко всему тексту в горизонтальном скроле
    .scrollGorizont__section_text_title__top{
      position: relative;
      @media (max-width:700px){
        flex: 1;
        max-height: 100%;
      }
      .scrollGorizont__section_text_title__top_sub{
        position: absolute;
        left: -100%;
        top: -2px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        @media (max-width:700px){
          left: -0%;
          justify-content: start;
        }
        h4{
          text-align: right;
          color: #fff;
          font-size: 36px;
          z-index: 30;
          margin-right: 10px;
          line-height: 90%;
          @media (max-width:820px){
            font-size: 25px;
          }
          @media (max-width:700px){
            font-size: 20px;
            width: 130px;
          }
          }
          }
          h3{
            font-size: 14px;
            margin-top: -15px;
            margin-bottom: 30px;
            @media (max-width:700px){
              position: absolute;
              top: 13px;
              left: 140px;
              font-size: 10px;
            }
          }
    }
    .scrollGorizont__section_text_title__center{
      h5{
        font-size: 40px;
        color: #222;
        width: 100%;
        margin-bottom: 35px;
        font-weight: 700;
        span{
          text-decoration: underline;
        }
        .title__center__container {
          margin: 35px 0 0 150px;
          color: #fff;
          font-weight: 400;
          @media (max-width:700px){
            font-size: 22px;
            margin-top: 25px;
            margin-left: auto;
            width: 300px;
          }
          @media (max-width:500px){
            font-size: 16px;
            margin-top: 5px;
          }
        }
        @media (max-width:890px){
          font-size: 27px;
        }
        @media (max-width:500px){
          font-size: 16px;
          margin-bottom: 10px;
        }
      }
      p{
        width: 580px;
        margin-top: 20px;
        padding-left: 150px;
        font-size: 35px;
        @media (max-width:1130px){
          width: 99%;
        }
        @media (max-width:890px){
          font-size: 25px;
          padding-left: 80px;
        }
      }
    }
    .scrollGorizont__section_text_title__bottom{
      width: 600px;
      border-top: 1px solid #fff;
      margin-top: 10vh;
      padding-top: 20px;
      display: flex;
      justify-content: space-between;
      :not(:last-child){
        margin-right: 37px;
      }
      @media (max-width:1200px){
        width: 99%;
      }
      @media (max-width:890px){
        :not(:last-child){
          margin-right: 10px;
        }
      }
      @media (max-width:700px) {
        margin-top: 0;
      }
      @media (max-width:460px){
        padding-top: 10px;
        height: 150px;
      }
      h5{
        font-family: "HelveticaNeue";
        font-size: 14px;
        @media (max-width:820px){
          font-size: 11px;
        }
      }
    }    
    .scrollGorizont__text{
      z-index: 60;
      width: 50%;
      margin-top: 20px;
      position: relative;
      font-family: "Gerhaus Regular";
      color: #fff;
      pointer-events: none;
      @media (max-width:1130px){
        margin: 20px 0 0 auto;
        width: 60%;
      }
      @media (max-width:800px){
        width: 70%;
        margin-top: 18px;
      }
      @media (max-width:700px){
        margin-top: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 22px 22px 15px 22px;
      }
      
    } 

/* Компоненты с аватарами */
._section__avatar {
  @media (max-width:920px) {
    margin-right: -100px;
  }
  @media (max-width:800px) {
    margin-right: -200px;
  }
  @media (max-width:700px) {
    margin-right: -300px;
  }
}

/* Основные блоки */
.scrollGorizont__wrapper {
  position: relative;
  z-index: 22;
  overflow: hidden;
  background-color: #2a4eea;
}
.scrollGorizont__wrapper_top{
  padding-bottom: 100px;
}
.scrollGorizont__container__top {
  width: 400vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #2a4eea;
  padding: 20px 0 0px;
  @media (max-width:700px) {
    padding: 0;
  }
}


/* Секции с изображениями */
._scrollGorizont__section_top {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  z-index: 22;
}
.scrollGorizont__images_avatar_1{
  position: relative;
  width: 530px;
  height: 520px;
  z-index: 22;
  // margin-top: 2vh;
  margin-right: 30px;
  @media (max-width:1130px){
    position: absolute;
    left: 0%;
    top: 0;
    z-index: -1;
  }
  @media (max-width:700px){
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
    margin: 0;
  }
 
  .scrollGorizont__image_1_1{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      animation: scrollGorizont__avatar_1 ease-in-out  6s infinite alternate;
      @keyframes scrollGorizont__avatar_1 {
          from{}
          to{
              scale: 1.07;
            }
      }
  }
  .scrollGorizont__image_1_2{
      position: absolute;
      right: -10px;
      bottom: -120px;
      width: 45%;
      animation: scrollGorizont__anketa_1 ease-in-out 3s infinite alternate;
      @keyframes scrollGorizont__anketa_1 {
          from{
              transform: translate(0%,0%);
            }
            to{
              transform: translate(-5%,-6%);
            }
      }
  }
  .scrollGorizont__image_1_3{
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
  }
  .scrollGorizont__image_1_4{
      position: absolute;
      right: 190px;
      top: 30px;
      width: 20%;
      animation: scrollGorizont__konfeta_3 ease-in-out 3s infinite alternate;
      @keyframes scrollGorizont__konfeta_3 {
          from{
              transform: translate(0%,0%);
            }
            to{
              transform: translate(5%,6%);
            }
      }
      @media (max-width:500px){
      right: 90px;
      width: 20%;
    }  
  }
  .scrollGorizont__image_1_5{
      display: none;
      // position: absolute;
      // right: 80px;
      // bottom: 100px;
      // width: 10%;
      // animation: scrollGorizont__konfeta_4 ease-in-out 2s infinite alternate;
      @keyframes scrollGorizont__konfeta_4 {
          from{
              transform: translate(0%,0%);
            }
            to{
              transform: translate(-5%,6%);
            }
      }
    @media (max-width:500px){
      display: none;
    }  
  }
  .scrollGorizont__image_1_6{
      position: absolute;
      left: 0px;
      bottom: 0px;
      width: 40%;
      animation: scrollGorizont__krujka_5 ease-in-out 4s infinite alternate;
      @keyframes scrollGorizont__krujka_5 {
          from{
              transform: translate(0%,25%);
            }
            to{
              rotate: -10deg;
              transform: translate(3%,10%);
            }
      }
      @media (max-width:500px){
        width: 40%;
        left: -10px;
      }  
  }
  .scrollGorizont__image_1_7{
      position: absolute;
      right: 20px;
      bottom: -50px;
      width: 15%;
      animation: scrollGorizont__krujka_7 ease-in-out 2s infinite alternate;
  }
  .scrollGorizont__image_1_8{
      position: absolute;
      right: 0px;
      bottom: 130px;
      width: 15%;
      animation: scrollGorizont__krujka_7 ease-in-out 1s infinite alternate;
      @keyframes scrollGorizont__krujka_7 {
          from{
              rotate: 10deg;
            }
            to{}
      }
      @media (max-width:500px){
      bottom: 60px;
    }  
  }
  .scrollGorizont__image_1_9{
      position: absolute;
      right: 0px;
      bottom: 0px;
      width: 100%;
      animation: scrollGorizont__krujka_8 ease-in-out 2s infinite alternate;
      @keyframes scrollGorizont__krujka_8 {
          from{
              transform: translate(0%,0%);
            }
            to{
              transform: translate(-5%, 10%);
            }
      }
  }
}
.scrollGorizont__images_avatar_2{
  margin-top: 60px;
  position: relative;
  width: 500px;
  height: 520px;
  z-index: 1;
  margin-top: 5%;
  margin-right: 30px;
  @media (max-width:1130px){
    position: absolute;
    left: 0%;
    top: 5%;
    z-index: -1;
  }
  @media (max-width:700px){
    width: 320px;
    height: 320px;
    position: absolute;
    margin: 0;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
  }
  .scrollGorizont__image_2_1{
      position: absolute;
      left: 20px;
      bottom: -80px;
      width: 100%;
      z-index: 5;
      animation: scrollGorizont__plan_2 ease-in-out 3s infinite alternate;
      @keyframes scrollGorizont__plan_2 {
          from{
            }
            to{
            scale: 1.04;
            }
      }
      @media (max-width:500px){
        width: 80%;
      }
  }
  .scrollGorizont__image_2_2{
      position: absolute;
      left: -20px;
      top: -80px;
      width: 500px;
      z-index: 1;
      animation: scrollGorizont__plan_2 ease-in-out 4s infinite alternate;
      @media (max-width:500px){
        width: 90%;
        top: 20px;
        left: -30px;
      }
  }
  .scrollGorizont__image_2_3{
      position: absolute;
      left: 0px;
      top: 140px;
      width: 40%;
      z-index: 4;
      animation: scrollGorizont__word_4 ease-in-out 2s infinite alternate;
      @keyframes scrollGorizont__word_4 {
          from{
              transform: translate(0%,0%);
            }
            to{
              transform: translate(-5%, 5%);
              rotate: 2deg;
            }
      }
      @media (max-width:500px){
        width: 32%;
      }
  }
  .scrollGorizont__image_2_4{
      position: absolute;
      right: -0px;
      top: 50px;
      width: 180px;
      z-index: 6;
      animation: scrollGorizont__two_5 ease-in-out 2s infinite alternate;
      @keyframes scrollGorizont__two_5 {
          from{
              transform: translate(0%,0%);
            }
            to{
              transform: translate(-5%, -5%);
              rotate: 2deg;
            }
      }
      @media (max-width:500px){
        width: 35%;
        top: 80px;
      }
  }
  .scrollGorizont__image_2_5{
      position: absolute;
      right: -50px;
      top: 200px;
      width: 100px;
      height: 100px;
      z-index: 6;
      animation: scrollGorizont__tochka_6 ease-in-out 1s infinite alternate;
      @keyframes scrollGorizont__tochka_6 {
          from{
              transform: translate(0%,0%);
            }
            to{
              transform: translate(5%, -5%);
              rotate: 2deg;
            }
      }
      @media (max-width:500px){
        width: 20%;
        right: 0px;
        height: 20%;
      }
  }
}
.scrollGorizont__images_avatar_3{
  width: 550px;
  height: 750px;
  position: relative;
  z-index: 22;
  margin-top: 5vh;
  margin-right: 30px;
  @media (max-width:1130px){
    margin-top: 0vh;
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: -1;
  }
  @media (max-width:700px){
    width: 310px;
    height: 330px;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
  }
  .scrollGorizont__image_3_0{
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .scrollGorizont__image_3_1{
      width: 100%;
      height: 70%;
      position: absolute;
      left: 0;
      top: 0;
      @media (max-width:700px){
        width: 100%;
        height: 90%;
      }
  }
  
  .scrollGorizont__image_3_2{
      width: 180px;
      position: absolute;
      left: 140px;
      top: 210px;
      z-index: 2;
      animation: scrollGorizont__divan_8 ease-in-out 2s infinite alternate;
      @keyframes scrollGorizont__divan_8 {
          from{
              transform: translate(0%,0%);
            }
            to{
              transform: translate(-5%, -5%);
              rotate: 5deg;
            }
      }
      @media (max-width:700px){
        rotate: -10deg;
        left: 50px;
        top: 120px;
        width: 120px;
      }
  }
  .scrollGorizont__image_3_3{
      width: 170px;
      position: absolute;
      left: 220px;
      top: 330px;
      animation: scrollGorizont__kreslo_9 ease-in-out 3s infinite alternate;
      @keyframes scrollGorizont__kreslo_9 {
          from{
              transform: translate(0%,0%);
            }
            to{
              transform: translate(5%, -5%);
              rotate: 5deg;
            }
      }
 
      @media (max-width:700px){
        width: 100px;
        left: 120px;
        top: 185px;
      }
  }
  .scrollGorizont__image_3_4{
      width: 150px;
      position: absolute;
      left: 65px;
      top: 300px;
      z-index: 10;
      animation: scrollGorizont__kruslo_10 ease-in-out 2s infinite alternate;
      @keyframes scrollGorizont__kruslo_10 {
          from{
              transform: translate(0%,0%);
            }
            to{
              transform: translate(-5%, 5%);
              rotate: -5deg;
            }
      }
      @media (max-width:700px){
        left: 60px;
        top: 200px;
        width: 90px;
      }
  }
  .scrollGorizont__image_3_5{
      width: 80px;
      position: absolute;
      left: 70px;
      top: 190px;
      animation: scrollGorizont__stol_11 ease-in-out 2.5s infinite alternate;
      @keyframes scrollGorizont__stol_11 {
          from{
              transform: translate(0%,0%);
            }
            to{
              transform: translate(-5%, 5%);
              rotate: 5deg;
            }
      }
      @media (max-width:700px){
        width: 40px;
        left: 30px;
        top: 120px;
      }
  }
  .scrollGorizont__image_3_6{
    width: 100px;
    position: absolute;
    right: 80px;
    top: 310px;
    @media (max-width:700px){
      width: 60px;
      right: 50px;
      top: 170px;
    }
  }
  .scrollGorizont__image_3_7{
    width: 70px;
    position: absolute;
    left: 140px;
    top: 170px;
    @media (max-width:700px){
      width: 30px;
      left: 70px;
      top: 100px;
    }
  }
  .scrollGorizont__image_3_8{
      width: 100px;
      position: absolute;
      right: 0px;
      top: 290px;
      animation: scrollGorizont__tochca_12 ease-in-out 2s infinite alternate;
      @keyframes scrollGorizont__tochca_12 {
          from{
              transform: translate(0%,0%);
            }
            to{
              transform: translate(-5%, -5%);
              rotate: 5deg;
            }
      }
      @media (max-width:700px){
        width: 40px;
        right: 20px;
        top: 200px;
      }
  }
 

  .scrollGorizont__image_3_9{
    width: 80px;
    position: absolute;
    right: 100px;
    top: 370px;
    @media (max-width:700px){
      width: 50px;
      right: 50px;
      top: 200px;
    }
  }
}
.scrollGorizont__images_avatar_4{
  width: 550px;
  height: 520px;
  position: relative;
  z-index: 22;
  margin-right: 30px;
  padding-bottom: 20px;
  @media (max-width:1130px){
    margin-top: 0vh;
    position: absolute;
    left: 0%;
    top: 5%;
    z-index: -1;
  }
  @media (max-width:700px){
    width: 300px;
    height: 300px;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
  }
  .scrollGorizont__image_4_1{
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
  }

  .scrollGorizont__image_4_2{
      position: absolute;
      left: 150px;
      bottom: 20px;
      width: 160px;
      animation: scrollGorizont__rosetka_8 ease-in-out 2s infinite alternate;
      @keyframes scrollGorizont__rosetka_8 {
          from{
              transform: translate(0%,0%);
            }
            to{
              transform: translate(5%, -5%);
              rotate: 3deg;
            }
      }
      @media (max-width:700px){
        left: 80px;
        bottom: 30px;
        width: 80px;
      }
  }
  .scrollGorizont__image_4_3{
      position: absolute;
      left: 180px;
      bottom: 170px;
      width: 90px;
      animation: scrollGorizont__tochcca_9 ease-in-out 2s infinite alternate;
      @keyframes scrollGorizont__tochcca_9 {
          from{
              transform: translate(0%,0%);
            }
            to{
              transform: translate(5%, -5%);
              rotate: 3deg;
            }
      }
      @media (max-width:700px){
        left: 90px;
        bottom: 110px;
        width: 50px;
      }
  }
  .scrollGorizont__image_4_4{
      position: absolute;
      right: 170px;
      bottom: 160px;
      width: 120px;
      animation: scrollGorizont__svetilnik_1_10 ease-in-out 2s infinite alternate;
      @keyframes scrollGorizont__svetilnik_1_10 {
          from{
              transform: translate(0%,0%);
            }
            to{
              transform: translate(-5%, -5%);
              rotate: 3deg;
            }
      }
      @media (max-width:700px){
        right: 100px;
        bottom: 100px;
        width: 60px;
      }
  }
  .scrollGorizont__image_4_5{
      position: absolute;
      right: 50px;
      bottom: 100px;
      width: 120px;
      animation: scrollGorizont__svetilnik_2_11 ease-in-out 2s infinite alternate;
      @keyframes scrollGorizont__svetilnik_2_11 {
          from{
              transform: translate(0%,0%);
            }
            to{
              transform: translate(5%, -5%);
              rotate: 3deg;
            }
      }
      @media (max-width:700px){
        right: 20px;
        bottom: 70px;
        width: 80px;
      }
  }
  .scrollGorizont__image_4_6{
      position: absolute;
      right: 100px;
      bottom: 230px;
      width: 120px;
      animation: scrollGorizont__uslovRosetka_1_12 ease-in-out 2s infinite alternate;
      @keyframes scrollGorizont__uslovRosetka_1_12 {
          from{
              transform: translate(0%,0%);
            }
            to{
              transform: translate(5%, -5%);
              rotate: 3deg;
            }
      }
      @media (max-width:700px){
        right: 50px;
        bottom: 130px;
        width: 60px;
      }
  }
  .scrollGorizont__image_4_7{
      position: absolute;
      right: 0px;
      bottom: 190px;
      width: 120px;
      animation: scrollGorizont__uslovRosetka_2_13 ease-in-out 2s infinite alternate;
      @keyframes scrollGorizont__uslovRosetka_2_13 {
          from{
              transform: translate(0%,0%);
            }
            to{
              transform: translate(5%, 5%);
              rotate: 3deg;
            }
      }
      @media (max-width:700px){
        right: 0px;
        bottom: 120px;
        width: 60px;
      }
  }
  .scrollGorizont__image_4_8{
    position: absolute;
    left: 100px;
    top: 120px;
    width: 70px; 
    @media (max-width:700px){
    display: none;
    
    }         
  }
  .scrollGorizont__image_4_9{
    position: absolute;
    left: 60px;
    top: 160px;
    width: 50px;             
    animation: scrollGorizont__uslovRosetka_2_13 ease-in-out 2s infinite alternate;        
    @media (max-width:700px){
    left: 30px;
    top: 20px;
    width: 30px; 
    }
  }
  .scrollGorizont__image_4_10{
    position: absolute;
    left: -40px;
    top: 80px;
    width: 130px;             
    animation: scrollGorizont__uslovRosetka_2_13 ease-in-out 3s infinite alternate;        
    @media (max-width:700px){
    left: -5px;
    top: 50px;
    width: 50px; 
    }
  }
  .scrollGorizont__image_4_11{
    position: absolute;
    right: 170px;
    top: 20px;
    width: 130px;             
    animation: scrollGorizont__uslovRosetka_2_13 ease-in-out 3s infinite alternate;        
    @media (max-width:700px){
    right: 80px;
    top: 20px;
    width: 50px; 
    }
  }
  .scrollGorizont__image_4_12{
    position: absolute;
    right: 140px;
    top: 130px;
    width: 100px;             
    animation: scrollGorizont__uslovRosetka_2_13 ease-in-out 2s infinite alternate;        
    @media (max-width:700px){
    right: 70px;
    top: 70px;
    width: 50px;  
    }
  }
  .scrollGorizont__image_4_13{
    position: absolute;
    right: 30px;
    top: 70px;
    width: 80px;             
    animation: scrollGorizont__uslovRosetka_2_13 ease-in-out 2s infinite alternate;        
    @media (max-width:700px){
    right: 20px;
    width: 40px;  
    }
  }
  .scrollGorizont__image_4_14{
    position: absolute;
    right: 10px;
    top: 150px;
    width: 60px;             
    @media (max-width:700px){
    top: 120px;
    width: 30px; 
    }
  }
  .scrollGorizont__image_4_0{
    position: absolute;
    left: 0px;
    top: 0px;
  }
}

.scrollGorizont__container__bottom{
  width: 300vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #2a4eea;
  padding: 20px 0 0;
  @media (max-width:700px){
    padding: 0;
  }
}
.scrollGorizont__section_5_text, .scrollGorizont__section_6_text, .scrollGorizont__section_7_text{
  .scrollGorizont__section_text_title__top{
    .scrollGorizont__section_text_title__top_sub{
      h4{
        @media (max-width:700px){
          width: 185px;
        }
      }
    }
    h3{
      @media (max-width:700px){
        left: 190px;
      }
    }
  }
}
.scrollGorizont__section_6_text, .scrollGorizont__section_7_text{
 .scrollGorizont__section_text_title__center{
  .title__center__container{
    @media (max-width:700px){
      width: 260px;
    }
  }
 }
}
.scrollGorizont__images_avatar_5{
  position: relative;
  width: 530px;
  height: 520px;
  z-index: 10;
  margin-right: 30px;
  @media (max-width:1130px){
    position: absolute;
    left: 10%;
    top: 5%;
    z-index: -1;
  }
  @media (max-width:700px){
    width: 300px;
    height: 300px;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
  }
}
.scrollGorizont__images_avatar_6{
  position: relative;
  width: 530px;
  height: 520px;
  z-index: -1;
  margin-right: 30px;
  @media (max-width:1130px){
    position: absolute;
    left: 10%;
    top: 5%;
    z-index: -1;
  }
  @media (max-width:700px){
    width: 300px;
    height: 300px;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
  }
}
.scrollGorizont__images_avatar_7{
  position: relative;
  width: 530px;
  height: 520px;
  z-index: -1;
  margin-right: 30px;
  @media (max-width:1130px){
    position: absolute;
    left: 5%;
    top: 5%;
    z-index: -1;
  }
  @media (max-width:700px){
    width: 330px;
    height: 300px;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
  }
}
.scrollGorizont__container__bottom__text{
    font-size: 27px;
    line-height: 150%;
    padding-left: 0;
    @media (max-width:890px){
      font-size: 25px;
    }
    @media (max-width:700px){
      font-size: 18px;
      line-height: 100%;
    }
}
._scrollGorizont__section_bottom{
  background-color: #2a4eea;      
  position: relative;
  z-index: 22;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  
  .scrollGorizont__image_5_1,.scrollGorizont__image_6_1{
    position: absolute;
    left: 0;
    top: 0;
    width: 130px;
    height: 200px;
    animation: scrollGorizont__kamera_2 ease-in-out 3s infinite alternate;
    @keyframes scrollGorizont__kamera_2 {
        from{rotate: -2deg;}
        to{
            transform: translate(-5px, 7px);
            
          }
    }
    @media (max-width:700px){
      width: 30%;
      height: 50%;
    }
  }
  .scrollGorizont__image_5_2,.scrollGorizont__image_6_2{
    position: absolute;
    left: 150px;
    top: 0;
    width: 150px;
    height: 180px;
    animation: scrollGorizont__vopros_3 ease-in-out 2s infinite alternate;
    @keyframes scrollGorizont__vopros_3 {
        from{rotate: 4deg;}
        to{
            transform: translate(-5px, 4px);
            
          }
    }
    @media (max-width:700px){
      width: 35%;
      height: 40%;
      left: 100px;
      top: 30px;
    }
  }
  .scrollGorizont__image_5_3,.scrollGorizont__image_6_3{
    position: absolute;
    right: 0;
    top: 0;
    width: 180px;
    height: 180px;
    animation: scrollGorizont__kamera_2 ease-in-out 2s infinite alternate;
    @media (max-width:700px){
      width: 30%;
      height: 30%;
      top: 50px;
    }
  }
  .scrollGorizont__image_6_4{
    position: absolute;
    left: -20px;
    top: 250px;
    width: 130px;
    height: 150px;
    animation: scrollGorizont__kamera_2 ease-in-out 3s infinite alternate;
    @media (max-width:700px){
      width: 20%;
      height: 30%;
      top: 180px;
    }
  }
  .scrollGorizont__image_5_4{
    position: absolute;
    left: -20px;
    top: 100px;
    width: 250px;
    height: 320px;
    z-index: 10;
    @media (max-width:700px){
      width: 30%;
      height: 40%;
      left: 20px;
      top: 150px;
    }
  }
  .scrollGorizont__image_5_5,.scrollGorizont__image_6_5{
    position: absolute;
    left: 100px;
    top: 250px;
    width: 150px;
    height: 150px;
    animation: scrollGorizont__vopros_3 ease-in-out 2s infinite alternate;
    @media (max-width:700px){
      width: 100px;
      height: 100px;
    }
  }
  .scrollGorizont__image_5_6,.scrollGorizont__image_6_6{
    position: absolute;
    right: 150px;
    top: 130px;
    width: 150px;
    height: 150px;
    animation: scrollGorizont__kamera_2 ease-in-out 3s infinite alternate;
    @media (max-width:700px){
      width: 100px;
      height: 100px;
    }
  }
  .scrollGorizont__image_5_7,.scrollGorizont__image_6_7{
    position: absolute;
    right: -40px;
    top: 250px;
    width: 150px;
    height: 150px;
    animation: scrollGorizont__kamera_2 ease-in-out 2s infinite alternate;
    @media (max-width:700px){
      width: 100px;
      height: 100px;
    }
  }
  .scrollGorizont__image_5_8,.scrollGorizont__image_6_8{
    position: absolute;
    left: 70px;
    top: 395px;
    width: 200px;
    height: 200px;
    animation: scrollGorizont__vopros_3 ease-in-out 3s infinite alternate;
    @media (max-width:700px){
    width: 100px;
    height: 100px;
    top: 315px;
    left: 160px;
    }
  }
  .scrollGorizont__image_5_9,.scrollGorizont__image_6_9{
    position: absolute;
    left: 220px;
    top: 300px;
    width: 180px;
    height: 180px;
    animation: scrollGorizont__kamera_2 ease-in-out 2s infinite alternate;
    @media (max-width:700px){
    width: 100px;
    height: 100px;
    top: 200px;
    left: 150px;
    }
  }
  .scrollGorizont__image_5_10,.scrollGorizont__image_6_10{
    position: absolute;
    left: 260px;
    top: 460px;
    width: 160px;
    height: 160px;
    animation: scrollGorizont__vopros_3 ease-in-out 3s infinite alternate;
    @media (max-width:700px){
      top: 120px;
      width: 100px;
      height: 100px;
    }
  }
  .scrollGorizont__image_5_11,.scrollGorizont__image_6_11{
    position: absolute;
    right: 0px;
    top: 390px;
    width: 150px;
    height: 150px;
    animation: scrollGorizont__kamera_2 ease-in-out 2s infinite alternate;
    @media (max-width:700px){
      width: 100px;
      height: 100px;
      right: 230px;
      top: 250px;
    }
  }
  .scrollGorizont__image_5_12,.scrollGorizont__image_6_12{
    position: absolute;
    right: -30px;
    top: 100px;
    width: 300px;
    height: 420px;
    animation: scrollGorizont__kamera_2 ease-in-out 3s infinite alternate;
    @media (max-width:700px){
      width: 60%;
      height: 75%;
    }
  }
  .scrollGorizont__image_6_13{
    position: absolute;
    left: 20px;
    top: 100px;
    width: 300px;
    height: 400px;
    animation: scrollGorizont__kamera_2 ease-in-out 4s infinite alternate;
    @media (max-width:700px){
      width: 55%;
      height: 70%;
      left: 0px;
    }
  }
  .scrollGorizont__image_5_13{
    position: absolute;
    left: 20px;
    top: 110px;
    width: 280px;
    height: 350px;
    animation: scrollGorizont__kamera_2 ease-in-out 4s infinite alternate;
    @media (max-width:700px){
      width: 45%;
      height: 60%;
    }
  }
 
  .scrollGorizont__image_7_1{
    position: absolute;
    left: -50px;
    top: 40px;
    width: 300px;
    animation: scrollGorizont__divanchik ease-in-out 3s infinite alternate;
    @keyframes scrollGorizont__divanchik {
        from{}
        to{
            transform: translate(5px, 7px);
          }
    }
    @media (max-width:700px){
      width: 50%;
      left: -10px;
      top: 60px;
    }
  }
  .scrollGorizont__image_7_2{
    position: absolute;
    left: 230px;
    top: 370px;
    width: 180px;
    height: 230px;
    z-index: 4;
    animation: scrollGorizont__stol_2 ease-in-out 2s infinite alternate;
    @media (max-width:700px){
    left: 150px;
    top: 280px;
    width: 20%;
    height: 130px;
    }
  }
  .scrollGorizont__image_7_3{
    position: absolute;
    right: 0px;
    top: 50px;
    width: 220px;
    animation: scrollGorizont__kreslo_2 ease-in-out 3s infinite alternate;
    @keyframes scrollGorizont__kreslo_2 {
        from{}
        to{
            scale: 1.08;
          }
    }
    @media (max-width:700px){
    top: 80px;
    width: 40%;
    }
  }
  .scrollGorizont__image_7_4{
    position: absolute;
    left: -0px;
    top: 260px;
    width: 200px;
    z-index: 1;
    animation: scrollGorizont__divanchik ease-in-out 1.5s infinite alternate;
    @media (max-width:700px){
    left: -0px;
    top: 220px;
    width: 40%;
    }
  }
  .scrollGorizont__image_7_5{
    position: absolute;
    left: 150px;
    top: 400px;
    width: 200px;
    height: 200px;
    @media (max-width:700px){
    top: 290px;
    width: 30%;
    height: 100px;
    }
  }
  .scrollGorizont__image_7_6{
    position: absolute;
    right: 60px;
    top: 200px;
    width: 120px;
    height: 150px;
    animation: scrollGorizont__stol_2 ease-in-out 3s infinite alternate;
    @media (max-width:700px){
    top: 170px;
    width: 20%;
    height: 100px;
    // right: 80px;

    }
  }
  .scrollGorizont__image_7_7{
    position: absolute;
    left: 170px;
    top: -20px;
    width: 200px;
    z-index: 10;
    animation: scrollGorizont__divanchik ease-in-out 2s infinite alternate;
    @media (max-width:700px){
    left: 110px;
    top: 0px;
    width: 40%;
    }
  }
  .scrollGorizont__image_7_8{
    position: absolute;
    left: 70px;
    top: 170px;
    width: 120px;
    animation: scrollGorizont__stol_2 ease-in-out 2s infinite alternate;
    @keyframes scrollGorizont__stol_2 {
        from{}
        to{
            rotate: 5deg;
          }
    }
    @media (max-width:700px){
      left: 40px;
      top: 190px;
      width: 20%;
    }
  }
  .scrollGorizont__image_7_9{
    position: absolute;
    right: 0px;
    top: 300px;
    width: 150px;
    @media (max-width:700px){
      right: 0px;
      top: 230px;
      width: 30%;
    }
  }
  .scrollGorizont__image_7_10{
    position: absolute;
    right: 65px;
    top: 345px;
    width: 120px;
    z-index: 3;
    animation: scrollGorizont__divanchik ease-in-out 3s infinite alternate;
    @media (max-width:700px){
     width: 25%;
     top: 270px;
    }
  }
  .scrollGorizont__image_7_11{
    position: absolute;
    left: 100px;
    top: 400px;
    width: 200px;
    z-index: 10;
    animation: scrollGorizont__kreslo_2 ease-in-out 3s infinite alternate;
    @media (max-width:700px){
        width: 35%;
        top: 300px; 
        left: 60px;

    }

  }
  
  .scrollGorizont__image_7_12{
    position: absolute;
    right: 90px;
    top: 100px;
    width: 320px;
    z-index: 2;
    @media (max-width:700px){
      width: 50%;
    }
  }
}
