// Шрифты
// два шрифта Bai+Jamjuree:200;400;600;, Syncopate:400;700; Bodoni+Moda:400;600
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;400;600&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,600;1,6..96,600&family=Syncopate:wght@400;700&display=swap');
// font-family: 'Bai Jamjuree', sans-serif;
// font-family: 'Syncopate', sans-serif;
// font-family: 'Bodoni Moda', serif;


@font-face {
	font-family: "BeatriceDeck-medium";
	src: local("BeatriceDeck-Medium"),
	 url("./BeatriceDeckTrial/BeatriceDeck-Medium.woff") format("woff");
}
@font-face {
	font-family: "Gerhaus Regular";
	src: local("Regular"),
	url("./GerhausRegular/Gerhaus.ttf"), format("trueopen");
}
@font-face {
	font-family: "HelveticaNeue";
	src: local("HelveticaNeue"),
	 url("./HelveticaNeueCyr/HelveticaNeue.woff"), url("./HelveticaNeueCyr/HelveticaNeue.ttf") format("woff/ttf");
}
@font-face {
	font-family: "HeroLight";
	src: local("HeroLight"),
	 url("./HeroLight/HeroLight.woff"), url("./HeroLight/HeroLight.ttf") format("woff/ttf");
}
@font-face {
	font-family: "HeroRegular";
	src: local("HeroRegular"),
	 url("./HeroRegular/HeroRegular.woff"), url("./HeroRegular/HeroRegular.ttf") format("woff/ttf");
}
@font-face {
	font-family: "HeroBold";
	src: local("HeroBold"),
	 url("./HeroBold/HeroBold.woff"), url("./HeroBold/HeroBold.ttf") format("woff/ttf");
}
@font-face {
	font-family: "BeatriceBold";
	src: local("Beatrice Bold"),
	 url("./Beatrice/Beatrice.woff") format("woff");
}