.header{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 9999;
    pointer-events: none;
    a{
        color: #222;
        pointer-events: all;
        h2{
            font-size: 50px;
            font-family: "BeatriceBold";
            position: relative;
            @media (max-width:500px){
                font-size: 32px;
            }
            span{
                display: block;
                margin-top: -30px;
                @media (max-width:500px){
                    margin-top: -20px;
                }
            }
        }
        
    }
    
    .burger{
        width: 80px;
        pointer-events: all;
        .burger__item_1{
            width: 90%;
        }
        .burger__item_2{
            width: 75%;
        }
        .burger__item_3{
            width: 50%;
        }
        span{
            z-index: 100;
            display: flex;
            flex-direction: column;
            margin: 0 0 0 auto;
            height: 4px;
            background-color: #222;
            &:not(:last-child){
                margin-bottom: 10px;
            }
        }
        @media (max-width:1000px){
            width: 50px;
            span{
                height: 2px;
            }
        }
    }
    .header__social {
        position: absolute;
        bottom: -70vh;
        left: 2%;
        display: flex;
        flex-direction: column;
        z-index: 30;
        @media (max-width:895px){
            display: none;
        }
        a{
            img {
                width: 50px;
                padding: 10px;
                pointer-events: all;
                opacity: 0.7;
              }
        }
        
    }
}

.nav__wrapper{
    position: fixed;
    right: 0;
    top: 0;
    width: 50vw;
    height: 100vh;
    background-color: #9e9999;
    font-family: "BeatriceBold";
    opacity: 0;
    pointer-events: none;
    z-index: 99;
    ul{
        display: flex;
        flex-direction: column;
        padding: 6vw 0 0 2vw;
        justify-items: start;
        width: 100%;
        height: 100%;
        li{
            width: 95%;
            border-bottom: 1px solid #fff;
            z-index: 110;
            a{  
                font-size: 5vw;
                color: #fff;
                display: flex;
                @media (max-width:840px){
                    font-size: 40px;
                }
                @media (max-width:400px){
                    font-size: 30px;
                }
            }
            .nav_item{
                cursor: pointer;

                font-size: 2vw;
                display: flex;
                align-items: center;
                @media (max-width:840px){
                    font-size: 25px;
                }
                img{
                    width: 40px;
                    height: 40px;
                    margin-right: 20px;
                }
            }
        }
    }
}
.nav__wrapper.active{
    opacity: 1;
    pointer-events: all;
    transition: .3s;
    z-index: 9999;
}
