.freight__wrapper{
    padding-top: 200px;
    position: relative;
    z-index: 22;
    height: 100%;
    background-color: #f5f0ec;
    overflow: hidden;
    @media (max-width:700px){
        padding-top: 0px;
    }
    .freight__container{
        max-width: 1500px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        font-family: "Gerhaus Regular";
        margin: 0 auto;
        .freight__left{
            position: relative;
            overflow: hidden;
            .freight__left__title{
                position: relative;
                display: flex;
                width: 100%;
                height: 100%;
                .freight__left__title__img1{
                    width: 100%;
                    height: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    .freight__left__title__img1_item_1{
                        color: #000;
                        width: 100%;
                        position: absolute;
                        left: 10%;
                        top: 15%;
                        font-weight: 100;
                        font-size: 3vw;
                        animation-name: freight__left__title__img1_visible;
                        animation-duration: 10s;
                        animation-iteration-count: infinite;  
                        @keyframes  freight__left__title__img1_visible{
                            0%{
                                opacity: 0;
                                transform: translateY(50%);
                            }
                            5%{
                                transform: translateY(0%);
                                opacity: 1;
                            }
                            30%{
                                opacity: 1;
                                transform: translateY(0%);
                            }
                            38%{
                                transform: translateY(50%);
                                opacity: 0;
                                
                            }
                            100%{
                                opacity: 0;
                            }
                        }
                        h3{
                            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                            width: 100%;
                            color: #000;
                            position: absolute;
                            left: 0%;
                            top: 100%;
                            font-weight: 100;
                            font-size: 2vw;    
                        }
                    }
                }
                .freight__left__title__img2{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    right: 0;
                    transform: translateX(100%);
                    animation-name: freight__left__title__img2;
                    animation-duration: 10s;
                    animation-iteration-count: infinite;                    
                    @keyframes  freight__left__title__img2{
                        0%{
                            scale: 1.001;
                        }
                        38%{
                            scale: 1;
                        }
                        39%{
                            transform: translateX(100%);
                        }
                        49%{
                            transform: translateX(0%);
                        }
                        50%{
                            scale: 1.001;
                        }
                        89%{
                            scale: 1;
                        }
                        90%{
                            transform: translateX(0%);
                        }
                        100%{
                            transform: translateX(100%);
                        }
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    .freight__left__title__img1_item_2{
                        width: 100%;
                        color: #000;
                        position: absolute;
                        left: 10%;
                        top: 15%;
                        font-weight: 100;
                        font-size: 3vw;
                        animation-name: freight__left__title__img1_invisible;
                        animation-duration: 10s;
                        animation-iteration-count: infinite;                    
                    @keyframes  freight__left__title__img1_invisible{
                        0%{
                            scale: 1.001;
                            opacity: 0;
                        }
                        38%{
                            scale: 1;
                            opacity: 0;
                        }
                        39%{
                            opacity: 0;
                        }
                        49%{
                            opacity: 0;
                        }
                        50%{
                            opacity: 0;
                            transform: translateY(50%);
                        }
                        55%{
                            transform: translateY(0%);
                            opacity: 1;
                        }
                        80%{
                            opacity: 1;
                            transform: translateY(0%);
                        }
                        89%{
                            transform: translateY(50%);
                            opacity: 0;
                        }
                        100%{
                            opacity: 0;
                        }
                    }
                    h3{
                        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                        color: #000;
                        width: 100%;
                        position: absolute;
                        left: 0%;
                        top: 100%;
                        font-weight: 100;
                        font-size: 2vw;    
                    }
                    }
                }
            }
            .freight__left__center{
                position: absolute;
                right: 0;
                top: 45%;
                width: 40%;
                display: flex;
                .freight__left__center__img1{
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .freight__left__center__img2{
                    position: absolute;
                    left: 0;
                    top: 0;
                    transform: translateX(100%);
                    animation-name: freight__left__title__img2;
                    animation-duration: 10s;
                    animation-iteration-count: infinite;  
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }                  
                }
            }
        }
        .freight__right{
            position: relative;
            z-index: -2;
            overflow: hidden;
            span{
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                transform: translateX(-100%);
                animation-name: freight__right_span;
                animation-duration: 10s;
                animation-iteration-count: infinite;                    
                @keyframes  freight__right_span{
                    0%{
                        scale: 1.001;
                    }
                    38%{
                        scale: 1;
                    }
                    39%{
                        transform: translateX(-100%);
                    }
                    49%{
                        transform: translateX(0%);
                    }
                    50%{
                        scale: 1.001;
                    }
                    89%{
                        scale: 1;
                    }
                    90%{
                        transform: translateX(0%);
                    }
                    100%{
                        transform: translateX(-100%);
                    }
                    }
            }
            .freight__right__top{
                position: absolute;
                top: 0;
                left: 0;
                width: 57%;
                z-index: 11;
                .freight__right__top__img1{
                    width: 100%;
                    height: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    
                }
                .freight__right__top__img2{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    transform: translateY(-100%);
                    animation-name: freight__right__top__img2;
                    animation-duration: 10s;
                    animation-iteration-count: infinite;                    
                    @keyframes  freight__right__top__img2{
                        0%{
                            scale: 1.001;
                        }
                        38%{
                            scale: 1;
                        }
                        39%{
                            transform: translateY(-100%);
                        }
                        49%{
                            transform: translateY(0%);
                        }
                        50%{
                            scale: 1.001;
                        }
                        89%{
                            scale: 1;
                        }
                        90%{
                            transform: translateY(0%);
                        }
                        100%{
                            transform: translateY(-100%);
                        }
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            .freight__right__bottom{
                position: absolute;
                bottom: 0px;
                left: 0;
                width: 100%;
                display: flex;
                z-index: 11;
                .freight__right__bottom__visible{
                    color: #fff;
                    position: absolute;
                    left: 15px;
                    top: -17%;
                    font-weight: 100;
                    font-size: 31px;
                    animation-name: freight__left__title__img1_visible_gorizont;
                    animation-duration: 10s;
                    animation-iteration-count: infinite; 
                    @media (max-width:1387px){
                        font-size: 26px;
                    }
                    @media (max-width:1200px){
                        font-size: 2vw;
                    }
                    @keyframes  freight__left__title__img1_visible_gorizont{
                        0%{
                            opacity: 0;
                            transform: translateX(-50%);
                        }
                        5%{
                            transform: translateX(0%);
                            opacity: 1;
                        }
                        30%{
                            opacity: 1;
                            transform: translateX(0%);
                        }
                        38%{
                            transform: translateX(-50%);
                            opacity: 0;
                            
                        }
                        100%{
                            opacity: 0;
                        }
                    }    
                }
                .freight__right__bottom__invisible{
                    color: #fff;
                    position: absolute;
                    left: 15px;
                    top: -17%;
                    font-weight: 100;
                    font-size: 31px;
                    width: 100%;
                    animation-name: freight__left__title__img1_invisible_gorizont;
                    animation-duration: 10s;
                    animation-iteration-count: infinite;  
                    @media (max-width:1387px){
                        font-size: 26px;
                    }
                    @media (max-width:1200px){
                        font-size: 2vw;
                    }
                    @keyframes  freight__left__title__img1_invisible_gorizont{
                        0%{
                            scale: 1.001;
                            opacity: 0;
                        }
                        38%{
                            scale: 1;
                            opacity: 0;
                        }
                        39%{
                            opacity: 0;
                        }
                        49%{
                            opacity: 0;
                        }
                        50%{
                            opacity: 0;
                            transform: translateX(-50%);
                        }
                        55%{
                            transform: translateX(0%);
                            opacity: 1;
                        }
                        80%{
                            opacity: 1;
                            transform: translateX(0%);
                        }
                        89%{
                            transform: translateX(-50%);
                            opacity: 0;
                        }
                        100%{
                            opacity: 0;
                        }
                    }   
                }
                .freight__right__bottom__img1{
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .freight__right__bottom__img2{
                    height: 100%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transform: translateX(100%);
                    animation-name: freight__left__title__img2;
                    animation-duration: 10s;
                    animation-iteration-count: infinite;  
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    
                }
            }
        }
    }
}